@charset "utf-8";
/* CSS Document */

/*navigation*/

#nav  {
	display: block;
	list-style-type:none;
	margin-top:100px;
	font-size: 15px;
	background: #000;
	width: 80px;
	color: #fff;
	text-align:center;
	text-decoration: none;
	position:fixed;
	
	}
	
#name{
	text-shadow:#666;
	text-shadow:3px 5px 20px;
	font-size:65px;
	margin-top:3px;
	margin-bottom:3px;
	}
	
#body{
	float:right;
	height:5850px;
	width:800px	;
	margin-top:16px;
	margin-right:20px;
	margin-left:20px
	}

.main_table{
	border:solid;
	border-color:#FFF;
	border-radius:8px;
	}	
	
	#line1{
	float:left;
	width:400px;
	padding-bottom:10px;
	}
	


	
#line2{
	float:left;
	width:320px;
	padding-left:10px;
	
	
	}
	
.hotel1 {  
    -webkit-animation-duration: 6s;  
    -webkit-animation-delay: 0.4s;  
    -webkit-animation-iteration-count:1;  
}  	

.hotel2 {  
    -webkit-animation-duration: 6s;  
    -webkit-animation-delay: 0.6s;  
    -webkit-animation-iteration-count:1;  
} 
.hotel3 {  
    -webkit-animation-duration: 6s;  
    -webkit-animation-delay: 0.8s;  
    -webkit-animation-iteration-count:1;  
}  	

.hotel4 {  
    -webkit-animation-duration: 6s;  
    -webkit-animation-delay: 1s;  
    -webkit-animation-iteration-count:1;  
}  	 	
